*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading h1{
    font-size: xx-large;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.heading img{
    height: 600px;
}

.heading p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

